
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>VepoLink</h1>
    <span class="menu-spacer"></span>
    <div *ngIf=currentUser>
      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-button [routerLink]="'/users'"> Users </a>
      <a mat-button [routerLink]="'/stations'"> Stations </a>
      <a mat-button (click)="logout()"> Logout </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a *ngIf=!currentUser mat-list-item [routerLink]="'/'"> Login </a>
      <a *ngIf=currentUser mat-list-item [routerLink]="'/industries'"> Industries </a>
      <a *ngIf=currentUser mat-list-item [routerLink]="'/users'"> Users </a>
      <a *ngIf=currentUser mat-list-item [routerLink]="'/stations'"> Stations </a>
      <!-- <a mat-list-item [routerLink]="'/activities'"> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a> -->
      <a *ngIf=currentUser mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <div class="docs-component-viewer-content">
        <mat-card>
          <mat-card-content>
            <alert></alert>
            <router-outlet></router-outlet>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>